{
	"openapi": "3.0.3",
	"info": {
		"title": "Twitch Helix API",
		"description": "OpenAPI specification for the Twitch Helix API - generated from the nicklaw5/helix Go client library",
		"version": "1.0.0",
		"contact": {
			"name": "Twitch Developers",
			"url": "https://dev.twitch.tv/docs/api"
		},
		"license": {
			"name": "MIT",
			"url": "https://opensource.org/licenses/MIT"
		}
	},
	"servers": [
		{
			"url": "https://api.twitch.tv/helix",
			"description": "Twitch Helix API production server"
		}
	],
	"tags": [
		{
			"name": "authentication",
			"description": "OAuth and token management endpoints"
		},
		{
			"name": "users",
			"description": "User-related operations"
		},
		{
			"name": "channels",
			"description": "Channel operations"
		},
		{
			"name": "streams",
			"description": "Stream operations"
		},
		{
			"name": "videos",
			"description": "Video operations"
		},
		{
			"name": "clips",
			"description": "Clip operations"
		},
		{
			"name": "games",
			"description": "Game information"
		},
		{
			"name": "categories",
			"description": "Category operations"
		},
		{
			"name": "polls",
			"description": "Poll management"
		},
		{
			"name": "predictions",
			"description": "Prediction management"
		},
		{
			"name": "raids",
			"description": "Raid operations"
		},
		{
			"name": "bits",
			"description": "Bits operations"
		},
		{
			"name": "eventsub",
			"description": "EventSub operations"
		},
		{
			"name": "ads",
			"description": "Advertisement operations"
		},
		{
			"name": "moderation",
			"description": "Moderation operations"
		},
		{
			"name": "chat",
			"description": "Chat operations"
		},
		{
			"name": "schedule",
			"description": "Schedule operations"
		},
		{
			"name": "subscriptions",
			"description": "Subscription operations"
		},
		{
			"name": "analytics",
			"description": "Analytics operations"
		},
		{
			"name": "extensions",
			"description": "Extension operations"
		},
		{
			"name": "charity",
			"description": "Charity operations"
		},
		{
			"name": "drops",
			"description": "Drops entitlement operations"
		},
		{
			"name": "webhooks",
			"description": "Webhook operations"
		},
		{
			"name": "goals",
			"description": "Creator goals operations"
		},
		{
			"name": "shoutout",
			"description": "Shoutout operations"
		},
		{
			"name": "stream_markers",
			"description": "Stream marker operations"
		},
		{
			"name": "entitlements",
			"description": "Entitlement operations"
		},
		{
			"name": "whispers",
			"description": "Whisper operations"
		},
		{
			"name": "hype_train",
			"description": "Hype Train operations"
		}
	],
	"components": {
		"securitySchemes": {
			"oauth": {
				"type": "oauth2",
				"flows": {
					"authorizationCode": {
						"authorizationUrl": "https://id.twitch.tv/oauth2/authorize",
						"tokenUrl": "https://id.twitch.tv/oauth2/token",
						"scopes": {}
					}
				}
			},
			"client_id": {
				"type": "apiKey",
				"in": "header",
				"name": "Client-Id",
				"description": "Client ID for API access"
			},
			"OAuth": {
				"type": "oauth2",
				"flows": {
					"implicit": {
						"authorizationUrl": "https://id.twitch.tv/oauth2/authorize",
						"scopes": {
							"channel:read:vips": "Read channel VIPs",
							"channel:manage:vips": "Manage channel VIPs"
						}
					}
				}
			},
			"ClientID": {
				"type": "apiKey",
				"in": "header",
				"name": "Client-ID",
				"description": "Twitch Client ID"
			}
		},
		"schemas": {
			"Pagination": {
				"type": "object",
				"properties": {
					"cursor": {
						"type": "string",
						"description": "Cursor for forward pagination"
					}
				}
			},
			"ResponseCommon": {
				"type": "object",
				"properties": {
					"status": {
						"type": "integer",
						"description": "HTTP status code"
					},
					"error": {
						"type": "string",
						"description": "Error message if status is not 2xx"
					},
					"message": {
						"type": "string",
						"description": "Error message if status is not 2xx"
					}
				}
			},
			"AdDetails": {
				"type": "object",
				"properties": {
					"length": {
						"type": "integer",
						"enum": [30, 60, 90, 120, 150, 180],
						"description": "Length of commercial in seconds"
					},
					"message": {
						"type": "string",
						"description": "Message about the commercial"
					},
					"retry_after": {
						"type": "integer",
						"description": "Seconds until another commercial can be started"
					}
				}
			},
			"ManyAdDetails": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/AdDetails"
						}
					}
				}
			},
			"StartCommercialResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyAdDetails"
					}
				}
			},
			"DateRange": {
				"type": "object",
				"properties": {
					"started_at": {
						"type": "string",
						"format": "date-time",
						"description": "Start date of the period"
					},
					"ended_at": {
						"type": "string",
						"format": "date-time",
						"description": "End date of the period"
					}
				}
			},
			"ExtensionAnalytic": {
				"type": "object",
				"properties": {
					"extension_id": {
						"type": "string",
						"description": "Extension ID"
					},
					"URL": {
						"type": "string",
						"description": "URL to the downloadable CSV file"
					},
					"type": {
						"type": "string",
						"description": "Type of analytics"
					},
					"date_range": {
						"$ref": "#/components/schemas/DateRange"
					}
				}
			},
			"ManyExtensionAnalytics": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ExtensionAnalytic"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"ExtensionAnalyticsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyExtensionAnalytics"
					}
				}
			},
			"GameAnalytic": {
				"type": "object",
				"properties": {
					"game_id": {
						"type": "string",
						"description": "Game ID"
					},
					"URL": {
						"type": "string",
						"description": "URL to the downloadable CSV file"
					},
					"type": {
						"type": "string",
						"description": "Type of analytics"
					},
					"date_range": {
						"$ref": "#/components/schemas/DateRange"
					}
				}
			},
			"ManyGameAnalytics": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/GameAnalytic"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"GameAnalyticsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyGameAnalytics"
					}
				}
			},
			"AppAccessTokenRequest": {
				"type": "object",
				"required": ["client_id", "client_secret", "grant_type"],
				"properties": {
					"client_id": {
						"type": "string"
					},
					"client_secret": {
						"type": "string"
					},
					"grant_type": {
						"type": "string",
						"enum": ["client_credentials"]
					},
					"scope": {
						"type": "string",
						"description": "Space-separated list of scopes"
					}
				}
			},
			"UserAccessTokenRequest": {
				"type": "object",
				"required": [
					"client_id",
					"client_secret",
					"code",
					"grant_type",
					"redirect_uri"
				],
				"properties": {
					"client_id": {
						"type": "string"
					},
					"client_secret": {
						"type": "string"
					},
					"code": {
						"type": "string"
					},
					"grant_type": {
						"type": "string",
						"enum": ["authorization_code"]
					},
					"redirect_uri": {
						"type": "string",
						"format": "uri"
					}
				}
			},
			"DeviceAccessTokenRequest": {
				"type": "object",
				"required": ["client_id", "device_code", "grant_type"],
				"properties": {
					"client_id": {
						"type": "string"
					},
					"device_code": {
						"type": "string"
					},
					"grant_type": {
						"type": "string",
						"enum": ["urn:ietf:params:oauth:grant-type:device_code"]
					},
					"scope": {
						"type": "string"
					}
				}
			},
			"RefreshTokenRequest": {
				"type": "object",
				"required": [
					"client_id",
					"client_secret",
					"grant_type",
					"refresh_token"
				],
				"properties": {
					"client_id": {
						"type": "string"
					},
					"client_secret": {
						"type": "string"
					},
					"grant_type": {
						"type": "string",
						"enum": ["refresh_token"]
					},
					"refresh_token": {
						"type": "string"
					}
				}
			},
			"RevokeTokenRequest": {
				"type": "object",
				"required": ["client_id", "token"],
				"properties": {
					"client_id": {
						"type": "string"
					},
					"token": {
						"type": "string",
						"description": "The access token to revoke"
					}
				}
			},
			"DeviceCodeRequest": {
				"type": "object",
				"required": ["client_id"],
				"properties": {
					"client_id": {
						"type": "string"
					},
					"scope": {
						"type": "string",
						"description": "Space-separated list of scopes"
					}
				}
			},
			"AccessCredentials": {
				"type": "object",
				"properties": {
					"access_token": {
						"type": "string"
					},
					"refresh_token": {
						"type": "string"
					},
					"expires_in": {
						"type": "integer"
					},
					"scope": {
						"type": "array",
						"items": {
							"type": "string"
						}
					}
				}
			},
			"DeviceVerificationCredentials": {
				"type": "object",
				"properties": {
					"device_code": {
						"type": "string"
					},
					"expires_in": {
						"type": "integer"
					},
					"interval": {
						"type": "integer"
					},
					"user_code": {
						"type": "string"
					},
					"verification_uri": {
						"type": "string",
						"format": "uri"
					}
				}
			},
			"ValidateTokenResponse": {
				"type": "object",
				"properties": {
					"client_id": {
						"type": "string"
					},
					"login": {
						"type": "string"
					},
					"scopes": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"user_id": {
						"type": "string"
					},
					"expires_in": {
						"type": "integer"
					}
				}
			},
			"UserBitTotal": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string",
						"description": "User ID"
					},
					"user_login": {
						"type": "string",
						"description": "Login name"
					},
					"user_name": {
						"type": "string",
						"description": "Display name"
					},
					"rank": {
						"type": "integer",
						"description": "Rank on the leaderboard"
					},
					"score": {
						"type": "integer",
						"description": "Total number of Bits"
					}
				}
			},
			"ManyUserBitTotals": {
				"type": "object",
				"properties": {
					"total": {
						"type": "integer",
						"description": "Total number of users on the leaderboard"
					},
					"date_range": {
						"$ref": "#/components/schemas/DateRange"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/UserBitTotal"
						}
					}
				}
			},
			"BitsLeaderboardResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyUserBitTotals"
					}
				}
			},
			"TierImages": {
				"type": "object",
				"properties": {
					"1": {
						"type": "string",
						"description": "URL for 1x image"
					},
					"1.5": {
						"type": "string",
						"description": "URL for 1.5x image"
					},
					"2": {
						"type": "string",
						"description": "URL for 2x image"
					},
					"3": {
						"type": "string",
						"description": "URL for 3x image"
					},
					"4": {
						"type": "string",
						"description": "URL for 4x image"
					}
				}
			},
			"TierImageTypes": {
				"type": "object",
				"properties": {
					"animated": {
						"$ref": "#/components/schemas/TierImages"
					},
					"static": {
						"$ref": "#/components/schemas/TierImages"
					}
				}
			},
			"CheermoteTierImages": {
				"type": "object",
				"properties": {
					"dark": {
						"$ref": "#/components/schemas/TierImageTypes"
					},
					"light": {
						"$ref": "#/components/schemas/TierImageTypes"
					}
				}
			},
			"CheermoteTiers": {
				"type": "object",
				"properties": {
					"min_bits": {
						"type": "integer",
						"description": "Minimum Bits needed to use this Cheermote"
					},
					"id": {
						"type": "string",
						"description": "ID of the Cheermote"
					},
					"color": {
						"type": "string",
						"description": "Color of the Cheermote"
					},
					"images": {
						"$ref": "#/components/schemas/CheermoteTierImages"
					},
					"can_cheer": {
						"type": "boolean",
						"description": "Whether user can cheer with this Cheermote"
					},
					"show_in_bits_card": {
						"type": "boolean",
						"description": "Whether to show Cheermote in Bits card"
					}
				}
			},
			"Cheermotes": {
				"type": "object",
				"properties": {
					"prefix": {
						"type": "string",
						"description": "Cheermote prefix (e.g., 'Cheer', 'Kappa')"
					},
					"tiers": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CheermoteTiers"
						},
						"description": "List of Cheermote tiers"
					},
					"type": {
						"type": "string",
						"enum": [
							"global_first_party",
							"global_third_party",
							"channel_custom",
							"display_only",
							"sponsored"
						],
						"description": "Type of Cheermote"
					},
					"order": {
						"type": "integer",
						"description": "Sort order of the Cheermote"
					},
					"last_updated": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when Cheermote was last updated"
					},
					"is_charitable": {
						"type": "boolean",
						"description": "Whether Cheermote supports charities"
					}
				}
			},
			"ManyCheermotes": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Cheermotes"
						}
					}
				}
			},
			"CheermotesResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyCheermotes"
					}
				}
			},
			"Category": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the category"
					},
					"name": {
						"type": "string",
						"description": "Name of the category"
					},
					"box_art_url": {
						"type": "string",
						"format": "uri",
						"description": "Template URL for the category's box art"
					}
				}
			},
			"ManySearchCategories": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Category"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"SearchCategoriesResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManySearchCategories"
					}
				}
			},
			"ChannelInformation": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"broadcaster_language": {
						"type": "string",
						"description": "ISO 639-1 language code of the broadcaster"
					},
					"game_id": {
						"type": "string",
						"description": "ID of the game being played"
					},
					"game_name": {
						"type": "string",
						"description": "Name of the game being played"
					},
					"title": {
						"type": "string",
						"description": "Title of the stream"
					},
					"delay": {
						"type": "integer",
						"description": "Stream delay in seconds (0 to disable)"
					},
					"tags": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "Tags applied to the stream"
					}
				}
			},
			"ManyChannelInformation": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChannelInformation"
						}
					}
				}
			},
			"GetChannelInformationResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChannelInformation"
					}
				}
			},
			"EditChannelInformationParams": {
				"type": "object",
				"properties": {
					"game_id": {
						"type": "string",
						"description": "ID of the game to play"
					},
					"broadcaster_language": {
						"type": "string",
						"description": "ISO 639-1 language code"
					},
					"title": {
						"type": "string",
						"description": "Title of the stream"
					},
					"delay": {
						"type": "integer",
						"description": "Stream delay in seconds"
					},
					"tags": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "Tags for the stream"
					}
				}
			},
			"ChannelFollow": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string",
						"description": "User ID of the follower"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the follower"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the follower"
					},
					"followed_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the follow occurred"
					}
				}
			},
			"ManyChannelFollows": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChannelFollow"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					},
					"total": {
						"type": "integer",
						"description": "Total number of followers"
					}
				}
			},
			"GetChannelFollowersResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChannelFollows"
					}
				}
			},
			"FollowedChannel": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"followed_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the follow occurred"
					}
				}
			},
			"ManyFollowedChannels": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/FollowedChannel"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					},
					"total": {
						"type": "integer",
						"description": "Total number of followed channels"
					}
				}
			},
			"GetFollowedChannelResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyFollowedChannels"
					}
				}
			},
			"Channel": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"game_id": {
						"type": "string",
						"description": "ID of the game being played"
					},
					"game_name": {
						"type": "string",
						"description": "Name of the game being played"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"display_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"language": {
						"type": "string",
						"description": "ISO 639-1 language code of the broadcaster"
					},
					"title": {
						"type": "string",
						"description": "Title of the channel"
					},
					"tags": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "Tags applied to the channel"
					},
					"thumbnail_url": {
						"type": "string",
						"format": "uri",
						"description": "Template URL for the channel's thumbnail"
					},
					"is_live": {
						"type": "boolean",
						"description": "Whether the channel is currently live"
					},
					"started_at": {
						"type": "string",
						"format": "date-time",
						"description": "UTC timestamp when the stream started"
					},
					"tag_ids": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "IDs of tags applied to the channel"
					}
				}
			},
			"ManySearchChannels": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Channel"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"SearchChannelsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManySearchChannels"
					}
				}
			},
			"ChannelEditor": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string",
						"description": "User ID of the editor"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the editor"
					},
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the user was made an editor"
					}
				}
			},
			"ManyChannelEditors": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChannelEditor"
						}
					}
				}
			},
			"ChannelEditorsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChannelEditors"
					}
				}
			},
			"ChannelCustomRewardsParams": {
				"type": "object",
				"required": ["broadcaster_id", "title", "cost"],
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"title": {
						"type": "string",
						"description": "Title for the reward"
					},
					"cost": {
						"type": "integer",
						"description": "Cost of the reward in channel points"
					},
					"prompt": {
						"type": "string",
						"description": "Prompt for the viewer when they redeem the reward"
					},
					"is_enabled": {
						"type": "boolean",
						"description": "Whether the reward is enabled"
					},
					"background_color": {
						"type": "string",
						"description": "Background color for the reward"
					},
					"is_user_input_required": {
						"type": "boolean",
						"description": "Whether the user must enter input when redeeming"
					},
					"is_max_per_stream_enabled": {
						"type": "boolean",
						"description": "Whether the reward has a maximum per stream limit"
					},
					"max_per_stream": {
						"type": "integer",
						"description": "Maximum redemptions allowed per stream"
					},
					"is_max_per_user_per_stream_enabled": {
						"type": "boolean",
						"description": "Whether the reward has a maximum per user per stream limit"
					},
					"max_per_user_per_stream": {
						"type": "integer",
						"description": "Maximum redemptions allowed per user per stream"
					},
					"is_global_cooldown_enabled": {
						"type": "boolean",
						"description": "Whether the reward has a global cooldown"
					},
					"global_cooldown_seconds": {
						"type": "integer",
						"description": "Global cooldown in seconds"
					},
					"should_redemptions_skip_request_queue": {
						"type": "boolean",
						"description": "Whether redemptions skip the request queue"
					}
				}
			},
			"UpdateChannelCustomRewardsParams": {
				"type": "object",
				"properties": {
					"title": {
						"type": "string",
						"description": "Title for the reward"
					},
					"cost": {
						"type": "integer",
						"description": "Cost of the reward in channel points"
					},
					"prompt": {
						"type": "string",
						"description": "Prompt for the viewer when they redeem the reward"
					},
					"is_enabled": {
						"type": "boolean",
						"description": "Whether the reward is enabled"
					},
					"background_color": {
						"type": "string",
						"description": "Background color for the reward"
					},
					"is_user_input_required": {
						"type": "boolean",
						"description": "Whether the user must enter input when redeeming"
					},
					"is_max_per_stream_enabled": {
						"type": "boolean",
						"description": "Whether the reward has a maximum per stream limit"
					},
					"max_per_stream": {
						"type": "integer",
						"description": "Maximum redemptions allowed per stream"
					},
					"is_max_per_user_per_stream_enabled": {
						"type": "boolean",
						"description": "Whether the reward has a maximum per user per stream limit"
					},
					"max_per_user_per_stream": {
						"type": "integer",
						"description": "Maximum redemptions allowed per user per stream"
					},
					"is_global_cooldown_enabled": {
						"type": "boolean",
						"description": "Whether the reward has a global cooldown"
					},
					"global_cooldown_seconds": {
						"type": "integer",
						"description": "Global cooldown in seconds"
					},
					"should_redemptions_skip_request_queue": {
						"type": "boolean",
						"description": "Whether redemptions skip the request queue"
					}
				}
			},
			"ChannelCustomReward": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"id": {
						"type": "string",
						"description": "ID of the reward"
					},
					"title": {
						"type": "string",
						"description": "Title for the reward"
					},
					"prompt": {
						"type": "string",
						"description": "Prompt for the viewer when they redeem the reward"
					},
					"cost": {
						"type": "integer",
						"description": "Cost of the reward in channel points"
					},
					"image": {
						"$ref": "#/components/schemas/RewardImage"
					},
					"background_color": {
						"type": "string",
						"description": "Background color for the reward"
					},
					"default_image": {
						"$ref": "#/components/schemas/RewardImage"
					},
					"is_enabled": {
						"type": "boolean",
						"description": "Whether the reward is enabled"
					},
					"is_user_input_required": {
						"type": "boolean",
						"description": "Whether the user must enter input when redeeming"
					},
					"max_per_stream_setting": {
						"$ref": "#/components/schemas/MaxPerStreamSettings"
					},
					"max_per_user_per_stream_setting": {
						"$ref": "#/components/schemas/MaxPerUserPerStreamSettings"
					},
					"global_cooldown_setting": {
						"$ref": "#/components/schemas/GlobalCooldownSettings"
					},
					"is_paused": {
						"type": "boolean",
						"description": "Whether the reward is paused"
					},
					"is_in_stock": {
						"type": "boolean",
						"description": "Whether the reward is in stock"
					},
					"should_redemptions_skip_request_queue": {
						"type": "boolean",
						"description": "Whether redemptions skip the request queue"
					},
					"redemptions_redeemed_current_stream": {
						"type": "integer",
						"description": "Number of redemptions redeemed in current stream"
					},
					"cooldown_expires_at": {
						"type": "string",
						"description": "Date and time when the cooldown expires"
					}
				}
			},
			"RewardImage": {
				"type": "object",
				"properties": {
					"url_1x": {
						"type": "string",
						"description": "URL for the image at 1x scale"
					},
					"url_2x": {
						"type": "string",
						"description": "URL for the image at 2x scale"
					},
					"url_4x": {
						"type": "string",
						"description": "URL for the image at 4x scale"
					}
				}
			},
			"MaxPerStreamSettings": {
				"type": "object",
				"properties": {
					"is_enabled": {
						"type": "boolean",
						"description": "Whether the max per stream setting is enabled"
					},
					"max_per_stream": {
						"type": "integer",
						"description": "Maximum redemptions allowed per stream"
					}
				}
			},
			"MaxPerUserPerStreamSettings": {
				"type": "object",
				"properties": {
					"is_enabled": {
						"type": "boolean",
						"description": "Whether the max per user per stream setting is enabled"
					},
					"max_per_user_per_stream": {
						"type": "integer",
						"description": "Maximum redemptions allowed per user per stream"
					}
				}
			},
			"GlobalCooldownSettings": {
				"type": "object",
				"properties": {
					"is_enabled": {
						"type": "boolean",
						"description": "Whether the global cooldown setting is enabled"
					},
					"global_cooldown_seconds": {
						"type": "integer",
						"description": "Global cooldown in seconds"
					}
				}
			},
			"ChannelCustomRewardResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChannelCustomRewards"
					}
				}
			},
			"ManyChannelCustomRewards": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChannelCustomReward"
						}
					}
				}
			},
			"UpdateChannelCustomRewardsRedemptionStatusParams": {
				"type": "object",
				"required": ["status"],
				"properties": {
					"status": {
						"type": "string",
						"description": "Status to set for the redemption"
					}
				}
			},
			"ChannelCustomRewardsRedemption": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the redemption"
					},
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"user_id": {
						"type": "string",
						"description": "User ID of the user that redeemed the reward"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the user that redeemed the reward"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the user that redeemed the reward"
					},
					"user_input": {
						"type": "string",
						"description": "User input provided when redeeming"
					},
					"status": {
						"type": "string",
						"description": "Status of the redemption"
					},
					"redeemed_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the reward was redeemed"
					},
					"reward": {
						"$ref": "#/components/schemas/ChannelCustomReward"
					}
				}
			},
			"ManyChannelCustomRewardsRedemptions": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChannelCustomRewardsRedemption"
						}
					}
				}
			},
			"ChannelCustomRewardsRedemptionResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChannelCustomRewardsRedemptions"
					}
				}
			},
			"ChannelVips": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string",
						"description": "User ID of the VIP"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the VIP"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the VIP"
					}
				}
			},
			"ManyChannelVips": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChannelVips"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"ChannelVipsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChannelVips"
					}
				}
			},
			"CharityCampaignAmount": {
				"type": "object",
				"properties": {
					"value": {
						"type": "integer",
						"description": "The monetary amount"
					},
					"decimal_places": {
						"type": "integer",
						"description": "The number of decimal places in the amount"
					},
					"currency": {
						"type": "string",
						"description": "The ISO-4217 three-letter currency code"
					}
				}
			},
			"CharityCampaign": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "An ID that identifies the charity campaign"
					},
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"charity_name": {
						"type": "string",
						"description": "The charity's name"
					},
					"charity_description": {
						"type": "string",
						"description": "A description of the charity"
					},
					"charity_logo": {
						"type": "string",
						"description": "A URL to the charity's logo"
					},
					"charity_website": {
						"type": "string",
						"description": "A URL to the charity's website"
					},
					"target_amount": {
						"$ref": "#/components/schemas/CharityCampaignAmount",
						"description": "The campaign's fundraising goal"
					},
					"current_amount": {
						"$ref": "#/components/schemas/CharityCampaignAmount",
						"description": "The amount of donations that the campaign has received"
					}
				}
			},
			"ManyCharityCampaigns": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CharityCampaign"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"CharityCampaignsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyCharityCampaigns"
					}
				}
			},
			"CharityDonation": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "An ID that identifies the donation"
					},
					"campaign_id": {
						"type": "string",
						"description": "An ID that identifies the charity campaign"
					},
					"user_id": {
						"type": "string",
						"description": "User ID of the donor"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the donor"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the donor"
					},
					"amount": {
						"$ref": "#/components/schemas/CharityCampaignAmount",
						"description": "The donation amount"
					}
				}
			},
			"ManyCharityDonations": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CharityDonation"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"CharityDonationsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyCharityDonations"
					}
				}
			},
			"ChatChatter": {
				"type": "object",
				"properties": {
					"user_login": {
						"type": "string"
					},
					"user_id": {
						"type": "string"
					},
					"user_name": {
						"type": "string"
					}
				}
			},
			"ManyChatChatters": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChatChatter"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					},
					"total": {
						"type": "integer"
					}
				}
			},
			"GetChatChattersResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChatChatters"
					}
				}
			},
			"BadgeVersion": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"image_url_1x": {
						"type": "string"
					},
					"image_url_2x": {
						"type": "string"
					},
					"image_url_4x": {
						"type": "string"
					}
				}
			},
			"ChatBadge": {
				"type": "object",
				"properties": {
					"set_id": {
						"type": "string"
					},
					"versions": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/BadgeVersion"
						}
					}
				}
			},
			"ManyChatBadge": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChatBadge"
						}
					}
				}
			},
			"GetChatBadgeResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChatBadge"
					}
				}
			},
			"EmoteImage": {
				"type": "object",
				"properties": {
					"url_1x": {
						"type": "string"
					},
					"url_2x": {
						"type": "string"
					},
					"url_4x": {
						"type": "string"
					}
				}
			},
			"Emote": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"images": {
						"$ref": "#/components/schemas/EmoteImage"
					},
					"tier": {
						"type": "string"
					},
					"emote_type": {
						"type": "string"
					},
					"emote_set_id": {
						"type": "string"
					}
				}
			},
			"EmoteWithOwner": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Emote"
					},
					{
						"type": "object",
						"properties": {
							"owner_id": {
								"type": "string"
							}
						}
					}
				]
			},
			"ManyEmotes": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Emote"
						}
					}
				}
			},
			"GetChannelEmotesResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyEmotes"
					}
				}
			},
			"ManyEmotesWithOwner": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/EmoteWithOwner"
						}
					}
				}
			},
			"GetEmoteSetsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyEmotesWithOwner"
					}
				}
			},
			"ChatSettings": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string"
					},
					"emote_mode": {
						"type": "boolean"
					},
					"follower_mode": {
						"type": "boolean"
					},
					"follower_mode_duration": {
						"type": "integer"
					},
					"slow_mode": {
						"type": "boolean"
					},
					"slow_mode_wait_time": {
						"type": "integer"
					},
					"subscriber_mode": {
						"type": "boolean"
					},
					"unique_chat_mode": {
						"type": "boolean"
					},
					"moderator_id": {
						"type": "string"
					},
					"non_moderator_chat_delay": {
						"type": "boolean"
					},
					"non_moderator_chat_delay_duration": {
						"type": "integer"
					}
				}
			},
			"ManyChatSettings": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChatSettings"
						}
					}
				}
			},
			"GetChatSettingsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChatSettings"
					}
				}
			},
			"UpdateChatSettingsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChatSettings"
					}
				}
			},
			"GetUserChatColorUser": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string"
					},
					"user_login": {
						"type": "string"
					},
					"user_name": {
						"type": "string"
					},
					"color": {
						"type": "string"
					}
				}
			},
			"GetUserChatColorResponse": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/GetUserChatColorUser"
						}
					}
				}
			},
			"UserChatColorResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/GetUserChatColorResponse"
					}
				}
			},
			"DropReason": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string"
					},
					"message": {
						"type": "string"
					}
				}
			},
			"ManyDropReasons": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/DropReason"
					}
				}
			},
			"ChatMessage": {
				"type": "object",
				"properties": {
					"message_id": {
						"type": "string",
						"description": "The message id for the message that was sent"
					},
					"is_sent": {
						"type": "boolean",
						"description": "If the message passed all checks and was sent"
					},
					"drop_reason": {
						"$ref": "#/components/schemas/ManyDropReasons",
						"description": "The reason the message was dropped, if any"
					}
				}
			},
			"ManyChatMessages": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ChatMessage"
						}
					}
				}
			},
			"ChatMessageResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyChatMessages"
					}
				}
			},
			"Clip": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the clip"
					},
					"url": {
						"type": "string",
						"format": "uri",
						"description": "URL to the clip page"
					},
					"embed_url": {
						"type": "string",
						"format": "uri",
						"description": "URL to embed the clip"
					},
					"broadcaster_id": {
						"type": "string",
						"description": "ID of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"creator_id": {
						"type": "string",
						"description": "ID of the user who created the clip"
					},
					"creator_name": {
						"type": "string",
						"description": "Display name of the user who created the clip"
					},
					"duration": {
						"type": "number",
						"format": "double",
						"description": "Duration of the clip in seconds"
					},
					"video_id": {
						"type": "string",
						"description": "ID of the video the clip is from"
					},
					"game_id": {
						"type": "string",
						"description": "ID of the game being played"
					},
					"language": {
						"type": "string",
						"description": "Language of the clip"
					},
					"title": {
						"type": "string",
						"description": "Title of the clip"
					},
					"view_count": {
						"type": "integer",
						"description": "Number of times the clip has been viewed"
					},
					"created_at": {
						"type": "string",
						"description": "Date and time when the clip was created"
					},
					"thumbnail_url": {
						"type": "string",
						"format": "uri",
						"description": "URL of the clip thumbnail"
					},
					"vod_offset": {
						"type": "integer",
						"description": "Offset in the VOD where the clip starts"
					}
				}
			},
			"ManyClips": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Clip"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"ClipsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyClips"
					}
				}
			},
			"ClipEditURL": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the clip"
					},
					"edit_url": {
						"type": "string",
						"format": "uri",
						"description": "URL to edit the clip in the Clip Creator"
					}
				}
			},
			"ManyClipEditURLs": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ClipEditURL"
						}
					}
				}
			},
			"CreateClipResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyClipEditURLs"
					}
				}
			},
			"Entitlement": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the entitlement"
					},
					"benefit_id": {
						"type": "string",
						"description": "ID of the benefit"
					},
					"timestamp": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp of when the entitlement was granted"
					},
					"user_id": {
						"type": "string",
						"description": "User ID of the user who was granted the entitlement"
					},
					"game_id": {
						"type": "string",
						"description": "ID of the game"
					},
					"fulfillment_status": {
						"type": "string",
						"enum": ["CLAIMED", "FULFILLED"],
						"description": "The fulfillment status of the entitlement"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time",
						"description": "Timestamp of when the entitlement was last updated"
					}
				}
			},
			"ManyEntitlementsWithPagination": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Entitlement"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"GetDropsEntitlementsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyEntitlementsWithPagination"
					}
				}
			},
			"UpdatedEntitlementSet": {
				"type": "object",
				"properties": {
					"status": {
						"type": "string",
						"enum": [
							"SUCCESS",
							"INVALID_ID",
							"NOT_FOUND",
							"UNAUTHORIZED",
							"UPDATE_FAILED"
						],
						"description": "The status of the entitlements in this set"
					},
					"ids": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "List of entitlement IDs with this status"
					}
				}
			},
			"ManyUpdatedEntitlementSet": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/UpdatedEntitlementSet"
						}
					}
				}
			},
			"UpdateDropsEntitlementsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyUpdatedEntitlementSet"
					}
				}
			},
			"UpdateDropsEntitlementsParams": {
				"type": "object",
				"required": ["entitlement_ids", "fulfillment_status"],
				"properties": {
					"entitlement_ids": {
						"type": "array",
						"maxItems": 100,
						"items": {
							"type": "string"
						},
						"description": "List of entitlement IDs to update"
					},
					"fulfillment_status": {
						"type": "string",
						"enum": ["CLAIMED", "FULFILLED"],
						"description": "The new fulfillment status for the entitlements"
					}
				}
			},
			"EventSubCondition": {
				"type": "object",
				"description": "Conditions for a subscription. Not all fields are necessary and some only apply to specific subscription types.",
				"properties": {
					"broadcaster_user_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"from_broadcaster_user_id": {
						"type": "string",
						"description": "User ID of the broadcaster from which the event originates"
					},
					"moderator_user_id": {
						"type": "string",
						"description": "User ID of the moderator"
					},
					"to_broadcaster_user_id": {
						"type": "string",
						"description": "User ID of the broadcaster receiving the event"
					},
					"reward_id": {
						"type": "string",
						"description": "ID of the custom reward"
					},
					"client_id": {
						"type": "string",
						"description": "Client ID of the application"
					},
					"extension_client_id": {
						"type": "string",
						"description": "Client ID of the extension"
					},
					"user_id": {
						"type": "string",
						"description": "User ID"
					}
				}
			},
			"EventSubTransport": {
				"type": "object",
				"description": "Transport for the subscription",
				"properties": {
					"method": {
						"type": "string",
						"enum": ["webhook", "websocket"],
						"description": "Transport method"
					},
					"callback": {
						"type": "string",
						"format": "uri",
						"description": "Callback URL (required for webhook method)"
					},
					"secret": {
						"type": "string",
						"minLength": 10,
						"maxLength": 100,
						"description": "Secret for verifying webhook signatures (required for webhook method)"
					},
					"session_id": {
						"type": "string",
						"description": "Session ID (required for websocket method)"
					}
				}
			},
			"EventSubSubscription": {
				"type": "object",
				"required": ["type", "version", "condition", "transport"],
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the subscription"
					},
					"type": {
						"type": "string",
						"description": "Event type"
					},
					"version": {
						"type": "string",
						"description": "Version of the subscription type"
					},
					"status": {
						"type": "string",
						"enum": [
							"enabled",
							"webhook_callback_verification_pending",
							"webhook_callback_verification_failed",
							"notification_failures_exceeded",
							"authorization_revoked",
							"user_removed"
						],
						"description": "Status of the subscription"
					},
					"condition": {
						"$ref": "#/components/schemas/EventSubCondition"
					},
					"transport": {
						"$ref": "#/components/schemas/EventSubTransport"
					},
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the subscription was created"
					},
					"cost": {
						"type": "integer",
						"description": "Cost of the subscription"
					}
				}
			},
			"ManyEventSubSubscriptions": {
				"type": "object",
				"properties": {
					"total": {
						"type": "integer",
						"description": "Total number of subscriptions"
					},
					"total_cost": {
						"type": "integer",
						"description": "Total cost of all subscriptions"
					},
					"max_total_cost": {
						"type": "integer",
						"description": "Maximum total cost allowed"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/EventSubSubscription"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"EventSubSubscriptionsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyEventSubSubscriptions"
					}
				}
			},
			"ProductCost": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "integer",
						"description": "Cost amount"
					},
					"type": {
						"type": "string",
						"description": "Cost type"
					}
				}
			},
			"ProductData": {
				"type": "object",
				"properties": {
					"domain": {
						"type": "string",
						"description": "Product domain"
					},
					"broadcast": {
						"type": "boolean",
						"description": "Whether product is broadcast"
					},
					"expiration": {
						"type": "string",
						"description": "Expiration time"
					},
					"sku": {
						"type": "string",
						"description": "Stock keeping unit"
					},
					"cost": {
						"$ref": "#/components/schemas/ProductCost"
					},
					"displayName": {
						"type": "string",
						"description": "Display name of the product"
					},
					"inDevelopment": {
						"type": "boolean",
						"description": "Whether product is in development"
					}
				}
			},
			"ExtensionTransaction": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Transaction ID"
					},
					"timestamp": {
						"type": "string",
						"format": "date-time",
						"description": "Transaction timestamp"
					},
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"user_id": {
						"type": "string",
						"description": "User ID of the purchaser"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the purchaser"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the purchaser"
					},
					"product_type": {
						"type": "string",
						"description": "Product type"
					},
					"product_data": {
						"$ref": "#/components/schemas/ProductData"
					}
				}
			},
			"ManyExtensionTransactions": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ExtensionTransaction"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"ExtensionTransactionsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyExtensionTransactions"
					}
				}
			},
			"ExtensionSendChatMessageBody": {
				"type": "object",
				"required": ["text", "extension_version", "extension_id"],
				"properties": {
					"text": {
						"type": "string",
						"maxLength": 280,
						"description": "Chat message text. Limit 280 characters"
					},
					"extension_version": {
						"type": "string",
						"description": "Extension version"
					},
					"extension_id": {
						"type": "string",
						"description": "Extension ID"
					}
				}
			},
			"ExtensionSendChatMessageResponse": {
				"type": "object",
				"properties": {}
			},
			"ExtensionLiveChannel": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"game_name": {
						"type": "string",
						"description": "Game being played"
					},
					"game_id": {
						"type": "string",
						"description": "Game ID"
					},
					"title": {
						"type": "string",
						"description": "Stream title"
					}
				}
			},
			"ManyExtensionLiveChannels": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ExtensionLiveChannel"
						}
					},
					"pagination": {
						"type": "string",
						"description": "Pagination cursor"
					}
				}
			},
			"ExtensionLiveChannelsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyExtensionLiveChannels"
					}
				}
			},
			"ExtensionSetConfigurationParams": {
				"type": "object",
				"required": ["segment", "extension_id", "version", "content"],
				"properties": {
					"segment": {
						"type": "string",
						"enum": ["broadcaster", "developer", "global"],
						"description": "Segment type"
					},
					"extension_id": {
						"type": "string",
						"description": "Extension ID"
					},
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster (only for broadcaster or developer segments)"
					},
					"version": {
						"type": "string",
						"description": "Configuration version"
					},
					"content": {
						"type": "string",
						"description": "Configuration content"
					}
				}
			},
			"ExtensionConfigurationSegment": {
				"type": "object",
				"properties": {
					"segment": {
						"type": "string",
						"description": "Segment type"
					},
					"version": {
						"type": "string",
						"description": "Configuration version"
					},
					"content": {
						"type": "string",
						"description": "Configuration content"
					}
				}
			},
			"ManyExtensionConfigurationSegments": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ExtensionConfigurationSegment"
						}
					}
				}
			},
			"ExtensionGetConfigurationSegmentResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyExtensionConfigurationSegments"
					}
				}
			},
			"ExtensionSetConfigurationResponse": {
				"type": "object",
				"properties": {}
			},
			"ExtensionSetRequiredConfigurationBody": {
				"type": "object",
				"required": [
					"extension_id",
					"required_version",
					"extension_version",
					"configuration_version"
				],
				"properties": {
					"extension_id": {
						"type": "string",
						"description": "Extension ID"
					},
					"required_version": {
						"type": "string",
						"description": "Required configuration version"
					},
					"extension_version": {
						"type": "string",
						"description": "Extension version"
					},
					"configuration_version": {
						"type": "string",
						"description": "Configuration version"
					}
				}
			},
			"ExtensionSetRequiredConfigurationResponse": {
				"type": "object",
				"properties": {}
			},
			"ExtensionSendPubSubMessageParams": {
				"type": "object",
				"required": ["broadcaster_id", "message", "target"],
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"message": {
						"type": "string",
						"description": "Message to send"
					},
					"target": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "Target types for the message"
					},
					"is_global_broadcast": {
						"type": "boolean",
						"description": "Whether this is a global broadcast"
					}
				}
			},
			"ExtensionSendPubSubMessageResponse": {
				"type": "object",
				"properties": {}
			},
			"Secret": {
				"type": "object",
				"properties": {
					"active_at": {
						"type": "string",
						"format": "date-time",
						"description": "Activation time of the secret"
					},
					"content": {
						"type": "string",
						"description": "Secret content"
					},
					"expires_at": {
						"type": "string",
						"format": "date-time",
						"description": "Expiration time of the secret"
					}
				}
			},
			"SecretsInformation": {
				"type": "object",
				"properties": {
					"format_version": {
						"type": "integer",
						"description": "Format version"
					},
					"secrets": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Secret"
						},
						"description": "Array of secrets"
					}
				}
			},
			"ManyExtensionSecrets": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/SecretsInformation"
						}
					}
				}
			},
			"ExtensionSecretCreationResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyExtensionSecrets"
					}
				}
			},
			"GetExtensionSecretParams": {
				"type": "object",
				"required": ["extension_id"],
				"properties": {
					"extension_id": {
						"type": "string",
						"description": "Extension ID"
					}
				}
			},
			"GetExtensionSecretResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyExtensionSecrets"
					}
				}
			},
			"Game": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the game"
					},
					"name": {
						"type": "string",
						"description": "Name of the game"
					},
					"box_art_url": {
						"type": "string",
						"format": "uri",
						"description": "Template URL for the game's box art"
					},
					"igdb_id": {
						"type": "string",
						"description": "IGDB ID of the game"
					}
				}
			},
			"ManyGames": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Game"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"GamesResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyGames"
					}
				}
			},
			"Goal": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the goal"
					},
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"type": {
						"type": "string",
						"description": "Type of goal"
					},
					"description": {
						"type": "string",
						"description": "Description of the goal"
					},
					"current_amount": {
						"type": "integer",
						"description": "Current amount of the goal"
					},
					"target_amount": {
						"type": "integer",
						"description": "Target amount of the goal"
					},
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the goal was created"
					}
				}
			},
			"ManyGoals": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Goal"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"CreatorGoalsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyGoals"
					}
				}
			},
			"Ban": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string"
					},
					"user_login": {
						"type": "string"
					},
					"user_name": {
						"type": "string"
					},
					"expires_at": {
						"type": "string",
						"format": "date-time",
						"description": "Empty string means permanent ban"
					}
				}
			},
			"ManyBans": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Ban"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"BannedUsersResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyBans"
					}
				}
			},
			"BanUserRequestBody": {
				"type": "object",
				"required": ["user_id", "reason"],
				"properties": {
					"duration": {
						"type": "integer",
						"description": "Duration of timeout in minutes. If not provided, creates a permanent ban.",
						"nullable": true
					},
					"reason": {
						"type": "string",
						"description": "Reason for the ban"
					},
					"user_id": {
						"type": "string",
						"description": "User ID to ban"
					}
				}
			},
			"BanUser": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"end_time": {
						"type": "string",
						"format": "date-time"
					},
					"moderator_id": {
						"type": "string"
					},
					"user_id": {
						"type": "string"
					}
				}
			},
			"ManyBanUser": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/BanUser"
						}
					}
				}
			},
			"BanUserResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyBanUser"
					}
				}
			},
			"BlockedTerm": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"expires_at": {
						"type": "string",
						"format": "date-time"
					},
					"id": {
						"type": "string"
					},
					"moderator_id": {
						"type": "string"
					},
					"text": {
						"type": "string"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"ManyBlockedTerms": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/BlockedTerm"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"BlockedTermsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyBlockedTerms"
					}
				}
			},
			"AddBlockedTermResponse": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"data": {
								"type": "array",
								"items": {
									"$ref": "#/components/schemas/BlockedTerm"
								}
							}
						}
					}
				}
			},
			"Moderator": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string"
					},
					"user_login": {
						"type": "string"
					},
					"user_name": {
						"type": "string"
					}
				}
			},
			"ManyModerators": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Moderator"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"ModeratorsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyModerators"
					}
				}
			},
			"ModeratedChannel": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string"
					},
					"broadcaster_login": {
						"type": "string"
					},
					"broadcaster_name": {
						"type": "string"
					}
				}
			},
			"ManyModeratedChannels": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ModeratedChannel"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"GetModeratedChannelsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyModeratedChannels"
					}
				}
			},
			"ModeratorWarnChatMessage": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string"
					},
					"moderator_id": {
						"type": "string"
					},
					"user_id": {
						"type": "string"
					},
					"reason": {
						"type": "string"
					}
				}
			},
			"ManyModeratorWarnChatMessages": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/ModeratorWarnChatMessage"
						}
					}
				}
			},
			"SendModeratorWarnChatResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyModeratorWarnChatMessages"
					}
				}
			},
			"Poll": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the poll"
					},
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"title": {
						"type": "string",
						"description": "Title for the poll"
					},
					"choices": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PollChoice"
						},
						"description": "Choices for the poll"
					},
					"bits_voting_enabled": {
						"type": "boolean",
						"description": "Whether Bits voting is enabled for the poll"
					},
					"bits_per_vote": {
						"type": "integer",
						"description": "Number of Bits required to vote once with Bits"
					},
					"channel_points_voting_enabled": {
						"type": "boolean",
						"description": "Whether Channel Points voting is enabled for the poll"
					},
					"channel_points_per_vote": {
						"type": "integer",
						"description": "Number of Channel Points required to vote once with Channel Points"
					},
					"status": {
						"type": "string",
						"enum": [
							"ACTIVE",
							"COMPLETED",
							"TERMINATED",
							"ARCHIVED",
							"MODERATED"
						],
						"description": "Current status of the poll"
					},
					"duration": {
						"type": "integer",
						"description": "Total duration of the poll in seconds"
					},
					"started_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the poll started"
					},
					"ended_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the poll ended"
					}
				}
			},
			"PollChoice": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the choice"
					},
					"title": {
						"type": "string",
						"description": "Title of the choice"
					},
					"bits_votes": {
						"type": "integer",
						"description": "Total number of votes for the choice made with Bits"
					},
					"channel_points_votes": {
						"type": "integer",
						"description": "Total number of votes for the choice made with Channel Points"
					},
					"votes": {
						"type": "integer",
						"description": "Total number of votes for the choice (sum of bits_votes and channel_points_votes)"
					}
				}
			},
			"ManyPolls": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Poll"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"PollsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyPolls"
					}
				}
			},
			"CreatePollParams": {
				"type": "object",
				"required": ["broadcaster_id", "title", "choices", "duration"],
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"title": {
						"type": "string",
						"maxLength": 60,
						"description": "Title for the poll"
					},
					"choices": {
						"type": "array",
						"minItems": 2,
						"maxItems": 5,
						"items": {
							"$ref": "#/components/schemas/PollChoiceParam"
						},
						"description": "Choices for the poll"
					},
					"duration": {
						"type": "integer",
						"minimum": 15,
						"maximum": 1800,
						"description": "Duration of the poll in seconds"
					},
					"bits_voting_enabled": {
						"type": "boolean",
						"default": false,
						"description": "Whether Bits voting is enabled"
					},
					"bits_per_vote": {
						"type": "integer",
						"minimum": 0,
						"maximum": 10000,
						"description": "Number of Bits required to vote once"
					},
					"channel_points_voting_enabled": {
						"type": "boolean",
						"default": false,
						"description": "Whether Channel Points voting is enabled"
					},
					"channel_points_per_vote": {
						"type": "integer",
						"minimum": 0,
						"maximum": 1000000,
						"description": "Number of Channel Points required to vote once"
					}
				}
			},
			"PollChoiceParam": {
				"type": "object",
				"required": ["title"],
				"properties": {
					"title": {
						"type": "string",
						"maxLength": 25,
						"description": "Title of the choice"
					}
				}
			},
			"EndPollParams": {
				"type": "object",
				"required": ["broadcaster_id", "id", "status"],
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"id": {
						"type": "string",
						"description": "ID of the poll to end"
					},
					"status": {
						"type": "string",
						"enum": ["TERMINATED", "ARCHIVED"],
						"description": "The status to set for the poll"
					}
				}
			},
			"PredictionOutcome": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the outcome"
					},
					"title": {
						"type": "string",
						"description": "Title of the outcome"
					},
					"color": {
						"type": "string",
						"description": "Color of the outcome"
					},
					"users": {
						"type": "integer",
						"description": "Number of users who predicted this outcome"
					},
					"channel_points": {
						"type": "integer",
						"description": "Total number of Channel Points used for this outcome"
					},
					"top_predictors": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/TopPredictor"
						},
						"description": "List of top predictors for this outcome"
					}
				}
			},
			"TopPredictor": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string",
						"description": "User ID of the predictor"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the predictor"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the predictor"
					},
					"channel_points_won": {
						"type": "integer",
						"description": "Number of Channel Points won"
					},
					"channel_points_used": {
						"type": "integer",
						"description": "Number of Channel Points used"
					}
				}
			},
			"Prediction": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the prediction"
					},
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"title": {
						"type": "string",
						"description": "Title of the prediction"
					},
					"winning_outcome_id": {
						"type": "string",
						"description": "ID of the winning outcome"
					},
					"outcomes": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PredictionOutcome"
						},
						"description": "List of possible outcomes"
					},
					"prediction_window": {
						"type": "integer",
						"description": "Duration of the prediction window in seconds"
					},
					"status": {
						"type": "string",
						"enum": ["ACTIVE", "LOCKED", "RESOLVED", "CANCELED"],
						"description": "Status of the prediction"
					},
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the prediction was created"
					},
					"ended_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the prediction ended"
					},
					"locked_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the prediction was locked"
					}
				}
			},
			"ManyPredictions": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Prediction"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"PredictionsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyPredictions"
					}
				}
			},
			"CreatePredictionParams": {
				"type": "object",
				"required": [
					"broadcaster_id",
					"title",
					"outcomes",
					"prediction_window"
				],
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"title": {
						"type": "string",
						"description": "Title of the prediction"
					},
					"outcomes": {
						"type": "array",
						"minItems": 2,
						"maxItems": 10,
						"items": {
							"$ref": "#/components/schemas/PredictionOutcome"
						},
						"description": "List of possible outcomes"
					},
					"prediction_window": {
						"type": "integer",
						"minimum": 1,
						"maximum": 1800,
						"description": "Duration of the prediction window in seconds"
					}
				}
			},
			"EndPredictionParams": {
				"type": "object",
				"required": ["broadcaster_id", "id", "status"],
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"id": {
						"type": "string",
						"description": "ID of the prediction to end"
					},
					"status": {
						"type": "string",
						"enum": ["RESOLVED", "CANCELED"],
						"description": "The status to set for the prediction"
					},
					"winning_outcome_id": {
						"type": "string",
						"description": "ID of the winning outcome (required if status is RESOLVED)"
					}
				}
			},
			"StartRaidParams": {
				"type": "object",
				"required": ["from_broadcaster_id", "to_broadcaster_id"],
				"properties": {
					"from_broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster that is initiating the raid"
					},
					"to_broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster to raid"
					}
				}
			},
			"CancelRaidParams": {
				"type": "object",
				"required": ["broadcaster_id"],
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster that is canceling the raid"
					}
				}
			},
			"RaidInfo": {
				"type": "object",
				"properties": {
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the raid was created"
					},
					"is_mature": {
						"type": "boolean",
						"description": "Whether the target channel is flagged as mature"
					}
				}
			},
			"RaidResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/RaidInfo"
					}
				}
			},
			"GetScheduleSegmentCategory": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"name": {
						"type": "string"
					}
				}
			},
			"GetScheduleSegment": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"start_time": {
						"type": "string",
						"format": "date-time"
					},
					"end_time": {
						"type": "string",
						"format": "date-time"
					},
					"title": {
						"type": "string"
					},
					"canceled_until": {
						"type": "string"
					},
					"category": {
						"$ref": "#/components/schemas/GetScheduleSegmentCategory"
					},
					"is_recurring": {
						"type": "boolean"
					}
				}
			},
			"GetScheduleVacation": {
				"type": "object",
				"properties": {
					"start_time": {
						"type": "string",
						"format": "date-time"
					},
					"end_time": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"ScheduleData": {
				"type": "object",
				"properties": {
					"segments": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/GetScheduleSegment"
						}
					},
					"broadcaster_id": {
						"type": "string"
					},
					"broadcaster_name": {
						"type": "string"
					},
					"broadcaster_login": {
						"type": "string"
					},
					"vacation": {
						"$ref": "#/components/schemas/GetScheduleVacation"
					}
				}
			},
			"GetSchedulePagination": {
				"type": "object",
				"properties": {
					"cursor": {
						"type": "string"
					}
				}
			},
			"GetScheduleData": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ScheduleData"
					},
					"pagination": {
						"$ref": "#/components/schemas/GetSchedulePagination"
					}
				}
			},
			"GetScheduleResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/GetScheduleData"
					}
				}
			},
			"CreateScheduleSegmentData": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ScheduleData"
					}
				}
			},
			"CreateScheduleSegmentResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/CreateScheduleSegmentData"
					}
				}
			},
			"UpdateScheduleSegmentData": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ScheduleData"
					}
				}
			},
			"UpdateScheduleSegmentResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/UpdateScheduleSegmentData"
					}
				}
			},
			"Marker": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the marker"
					},
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the marker was created"
					},
					"description": {
						"type": "string",
						"description": "Description of the marker"
					},
					"position_seconds": {
						"type": "integer",
						"description": "Relative offset of the marker from the start of the stream"
					},
					"URL": {
						"type": "string",
						"description": "URL of the stream segment"
					}
				}
			},
			"VideoMarker": {
				"type": "object",
				"properties": {
					"video_id": {
						"type": "string",
						"description": "ID of the video"
					},
					"markers": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Marker"
						},
						"description": "Array of markers"
					}
				}
			},
			"StreamMarker": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string",
						"description": "ID of the user"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the user"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the user"
					},
					"videos": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/VideoMarker"
						},
						"description": "Array of video markers"
					}
				}
			},
			"ManyStreamMarkers": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/StreamMarker"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"StreamMarkersResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyStreamMarkers"
					}
				}
			},
			"CreateStreamMarker": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the marker"
					},
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the marker was created"
					},
					"description": {
						"type": "string",
						"description": "Description of the marker"
					},
					"position_seconds": {
						"type": "integer",
						"description": "Relative offset of the marker from the start of the stream"
					}
				}
			},
			"ManyCreateStreamMarkers": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CreateStreamMarker"
						}
					}
				}
			},
			"CreateStreamMarkerResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyCreateStreamMarkers"
					}
				}
			},
			"Stream": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the stream"
					},
					"user_id": {
						"type": "string",
						"description": "ID of the user who is streaming"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the user who is streaming"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the user who is streaming"
					},
					"game_id": {
						"type": "string",
						"description": "ID of the game that the user is playing"
					},
					"game_name": {
						"type": "string",
						"description": "Name of the game that the user is playing"
					},
					"tag_ids": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "IDs of the tags applied to the stream"
					},
					"tags": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "Tags applied to the stream"
					},
					"is_mature": {
						"type": "boolean",
						"description": "Whether the stream is flagged as mature"
					},
					"type": {
						"type": "string",
						"enum": ["live", "vodcast"],
						"description": "Stream type (live or vodcast)"
					},
					"title": {
						"type": "string",
						"description": "Title of the stream"
					},
					"viewer_count": {
						"type": "integer",
						"description": "Number of viewers watching the stream"
					},
					"started_at": {
						"type": "string",
						"format": "date-time",
						"description": "UTC timestamp when the stream started"
					},
					"language": {
						"type": "string",
						"description": "ISO 639-1 two-letter language code"
					},
					"thumbnail_url": {
						"type": "string",
						"format": "uri",
						"description": "Template URL for the thumbnail of the stream"
					}
				}
			},
			"ManyStreams": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Stream"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"StreamsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyStreams"
					}
				}
			},
			"StreamKey": {
				"type": "object",
				"properties": {
					"stream_key": {
						"type": "string",
						"description": "The broadcaster's stream key"
					}
				}
			},
			"ManyStreamKeys": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/StreamKey"
						}
					}
				}
			},
			"StreamKeysResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyStreamKeys"
					}
				}
			},
			"Subscription": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"is_gift": {
						"type": "boolean",
						"description": "Whether the subscription is a gift"
					},
					"gifter_id": {
						"type": "string",
						"description": "User ID of the gifter"
					},
					"gifter_login": {
						"type": "string",
						"description": "Login name of the gifter"
					},
					"gifter_name": {
						"type": "string",
						"description": "Display name of the gifter"
					},
					"tier": {
						"type": "string",
						"description": "Subscription tier (1000, 2000, or 3000)"
					},
					"plan_name": {
						"type": "string",
						"description": "Name of the subscription plan"
					},
					"user_id": {
						"type": "string",
						"description": "User ID of the subscriber"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the subscriber"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the subscriber"
					}
				}
			},
			"UserSubscription": {
				"type": "object",
				"properties": {
					"broadcaster_id": {
						"type": "string",
						"description": "User ID of the broadcaster"
					},
					"broadcaster_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"broadcaster_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"is_gift": {
						"type": "boolean",
						"description": "Whether the subscription is a gift"
					},
					"gifter_login": {
						"type": "string",
						"description": "Login name of the gifter"
					},
					"gifter_name": {
						"type": "string",
						"description": "Display name of the gifter"
					},
					"tier": {
						"type": "string",
						"description": "Subscription tier (1000, 2000, or 3000)"
					}
				}
			},
			"ManySubscriptions": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Subscription"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					},
					"total": {
						"type": "integer",
						"description": "Total number of subscriptions"
					},
					"points": {
						"type": "integer",
						"description": "Total subscription points. Tier 1 = 1, Tier 2 = 2, Tier 3 = 6"
					}
				}
			},
			"ManyUserSubscriptions": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/UserSubscription"
						}
					}
				}
			},
			"SubscriptionsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManySubscriptions"
					}
				}
			},
			"UserSubscriptionResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyUserSubscriptions"
					}
				}
			},
			"User": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "User's ID"
					},
					"login": {
						"type": "string",
						"description": "User's login name"
					},
					"display_name": {
						"type": "string",
						"description": "User's display name"
					},
					"type": {
						"type": "string",
						"description": "User's type (e.g., 'staff', 'admin', 'global_mod', or '')"
					},
					"broadcaster_type": {
						"type": "string",
						"description": "User's broadcaster type (e.g., 'partner', 'affiliate', or '')"
					},
					"description": {
						"type": "string",
						"description": "User's description"
					},
					"profile_image_url": {
						"type": "string",
						"format": "uri",
						"description": "URL of the user's profile image"
					},
					"offline_image_url": {
						"type": "string",
						"format": "uri",
						"description": "URL of the user's offline image"
					},
					"view_count": {
						"type": "integer",
						"description": "Total number of views of the user's channel"
					},
					"email": {
						"type": "string",
						"format": "email",
						"description": "User's email address (requires user:read:email scope)"
					},
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date when the user was created"
					}
				}
			},
			"ManyUsers": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/User"
						}
					}
				}
			},
			"UsersResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyUsers"
					}
				}
			},
			"UserFollow": {
				"type": "object",
				"properties": {
					"from_id": {
						"type": "string",
						"description": "User ID of the follower"
					},
					"from_login": {
						"type": "string",
						"description": "Login name of the follower"
					},
					"from_name": {
						"type": "string",
						"description": "Display name of the follower"
					},
					"to_id": {
						"type": "string",
						"description": "User ID of the followed user"
					},
					"to_name": {
						"type": "string",
						"description": "Display name of the followed user"
					},
					"followed_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the follow occurred"
					}
				}
			},
			"ManyFollows": {
				"type": "object",
				"properties": {
					"total": {
						"type": "integer",
						"description": "Total number of follows"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/UserFollow"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"UsersFollowsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyFollows"
					}
				}
			},
			"UserBlocked": {
				"type": "object",
				"properties": {
					"user_id": {
						"type": "string",
						"description": "User ID of the blocked user"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the blocked user"
					},
					"display_name": {
						"type": "string",
						"description": "Display name of the blocked user"
					}
				}
			},
			"ManyUsersBlocked": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/UserBlocked"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"UsersBlockedResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyUsersBlocked"
					}
				}
			},
			"Video": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the video"
					},
					"stream_id": {
						"type": "string",
						"description": "ID of the stream"
					},
					"user_id": {
						"type": "string",
						"description": "ID of the broadcaster"
					},
					"user_login": {
						"type": "string",
						"description": "Login name of the broadcaster"
					},
					"user_name": {
						"type": "string",
						"description": "Display name of the broadcaster"
					},
					"title": {
						"type": "string",
						"description": "Title of the video"
					},
					"description": {
						"type": "string",
						"description": "Description of the video"
					},
					"created_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the video was created"
					},
					"published_at": {
						"type": "string",
						"format": "date-time",
						"description": "Date and time when the video was published"
					},
					"url": {
						"type": "string",
						"format": "uri",
						"description": "URL to the video"
					},
					"thumbnail_url": {
						"type": "string",
						"format": "uri",
						"description": "URL to the video's thumbnail"
					},
					"viewable": {
						"type": "string",
						"enum": ["public", "private"],
						"description": "Whether the video is viewable"
					},
					"view_count": {
						"type": "integer",
						"description": "Number of times the video has been viewed"
					},
					"language": {
						"type": "string",
						"description": "ISO 639-1 language code"
					},
					"type": {
						"type": "string",
						"enum": ["upload", "archive", "highlight"],
						"description": "Type of the video"
					},
					"duration": {
						"type": "string",
						"description": "Duration of the video in ISO 8601 format"
					},
					"muted_segments": {
						"type": "array",
						"items": {
							"type": "object"
						},
						"description": "List of muted segments in the video"
					}
				}
			},
			"ManyVideos": {
				"type": "object",
				"properties": {
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Video"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"VideosResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyVideos"
					}
				}
			},
			"WebhookSubscription": {
				"type": "object",
				"properties": {
					"topic": {
						"type": "string",
						"description": "The topic that you subscribed to"
					},
					"callback": {
						"type": "string",
						"description": "The URL where you receive notifications"
					},
					"expires_at": {
						"type": "string",
						"format": "date-time",
						"description": "The date and time when the subscription expires"
					}
				}
			},
			"ManyWebhookSubscriptions": {
				"type": "object",
				"properties": {
					"total": {
						"type": "integer",
						"description": "Total number of webhook subscriptions"
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/WebhookSubscription"
						}
					},
					"pagination": {
						"$ref": "#/components/schemas/Pagination"
					}
				}
			},
			"WebhookSubscriptionsResponse": {
				"type": "object",
				"properties": {
					"data": {
						"$ref": "#/components/schemas/ManyWebhookSubscriptions"
					}
				}
			},
			"WebhookSubscriptionPayload": {
				"type": "object",
				"required": ["hub.mode", "hub.topic", "hub.callback"],
				"properties": {
					"hub.mode": {
						"type": "string",
						"enum": ["subscribe", "unsubscribe"],
						"description": "The subscription mode"
					},
					"hub.topic": {
						"type": "string",
						"description": "The topic to subscribe to"
					},
					"hub.callback": {
						"type": "string",
						"format": "uri",
						"description": "The callback URL to receive notifications"
					},
					"hub.lease_seconds": {
						"type": "integer",
						"description": "The number of seconds until the subscription expires"
					},
					"hub.secret": {
						"type": "string",
						"description": "A secret used to verify the request signature"
					}
				}
			}
		}
	},
	"security": [
		{
			"client_id": []
		}
	],
	"paths": {
		"/channels/commercial": {
			"post": {
				"summary": "Start Commercial",
				"description": "Starts a commercial on a specified channel.",
				"operationId": "startCommercial",
				"tags": ["Ads"],
				"parameters": [
					{
						"name": "broadcaster_id",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "User ID of the broadcaster"
					},
					{
						"name": "length",
						"in": "query",
						"required": true,
						"schema": {
							"type": "integer",
							"enum": [30, 60, 90, 120, 150, 180]
						},
						"description": "Length of commercial in seconds (30, 60, 90, 120, 150, or 180)"
					}
				],
				"security": [
					{
						"OAuth": ["channel:edit:commercial"]
					}
				],
				"responses": {
					"200": {
						"description": "Commercial successfully started",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StartCommercialResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad request - invalid parameters"
					},
					"401": {
						"description": "Unauthorized - missing or invalid token"
					},
					"403": {
						"description": "Forbidden - insufficient permissions"
					}
				}
			}
		},
		"/analytics/extensions": {
			"get": {
[...]
