name: Publish Server

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  packages: write
  checks: write

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'Brendonovich/MacroGraph'
    permissions:
      contents: read
      packages: write
      checks: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image name
        run: echo "IMAGE_NAME=ghcr.io/$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')/macrograph-server" >> $GITHUB_ENV

      - name: Determine tag
        id: determine-tag
        run: |
          echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_ENV
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "TAG=pr-${{ github.event.pull_request.number }}" >> $GITHUB_ENV
          else
            echo "TAG=main" >> $GITHUB_ENV
          fi

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: apps/server/Dockerfile
          push: true
          tags: |
            ${{format('{0}:{1}', env.IMAGE_NAME, env.TAG) }}
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max,image-manifest=mediatype=application/vnd.oci.image.manifest.v1+json

      - name: Publish SHA to checks
        if: github.event_name == 'pull_request'
        run: ./.github/workflows/publish-check-run.sh "${{ env.IMAGE_NAME }}" "${{ env.SHORT_SHA }}" "${{ github.repository }}" "${{ secrets.GITHUB_TOKEN }}" "${{ github.sha }}"
